.main{
    margin: 0% auto;
    width: 1200px;
    text-align: justify;
    text-align: center;
    outline: 2px solid black;
}
.block1{
    background:red;
}
.block2{
    background-color: brown;

}
.block3{
    background: burlywood;
}
.block4{
    background: blueviolet;
}

div{
    outline: 2px solid black;
} 
.widht400{
    width: 400px;
    display:inline-block;
    font-size: 15px;
    vertical-align: middle;
}
.widht800{
    width: 800px;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}
.font0{
    font-size: 0%;
}
